@font-face {
    font-family: "The_Black_Box";
    src: url("fonts/The_Black_Box-FFP.otf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60em;
    background-image: url("image/vintage.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40em;
    height: 30em;
    margin-top: 100px;
}

.btn img{
  width: 13em;
  height: 4em;


}

.mp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.back{
  width: 70%;
  height: 200px;
  background-image: url("image/bannierebleu.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 150px;
}
