@font-face {
  font-family: "policeCANDLE";
    src: url("fonts/candlescript/police1.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}

body {
margin: 0;
padding: 0;
background-color: white;
}
ul{
  list-style: none;
}

/*************************************************
          section               nav bar
***************************************************/

main {
border-right: 80px solid white;
border-left:  80px solid white;
}

.accueil {
  width: 100%;
  height: 60em;
  background-image: url("./image/appareil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
 nav{
   display: flex;
   position: fixed;
   z-index: 50;
   margin: auto;
   width: 90%;
   max-width: 1000px;
   left: 0%;
   right: 0%

 }

nav > ul{
  display: table;
  overflow: hidden;
  width: 100%;
  background-color: #000;
  position: relative;
}
nav ul{
list-style: none;

}
nav > ul li {
  display: table-cell;
  color: white;
}

/***************************************************
            Sous-menu nav
*****************************************************/
li{
  text-align: center;

}
nav > ul > li:hover > ul {
  display: block;
  height: 100%;
}


nav > ul li a {
  color:  white;
  display: block;
  line-height: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  moz-transition: all .3s ease;
  ms-transition: all .3s ease;
  o-transition: all .3s ease;
  transition: all .3s ease;
}

nav > ul > li > a span {
  background: #c44e45;
  display: block;
  width: 100%;
  height: 80px;
  left: 0;
  position: absolute;
  top: -70px;
  -webkit-transition: all .3s ease;
  moz-transition: all .3s ease;
  ms-transition: all .3s ease;
  o-transition: all .3s ease;
  transition: all .3s ease;
}

nav > ul > li > a span .icon {
  display: block;
  justify-content: center;
  align-items: center;
  line-height: 60px;
}



nav > ul > li > a:hover > span {
  top: 0;

}

.ctrs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/***************************************************
               couleurs nav
***************************************************/


nav ul li a .premiere {
  background-color: #C51213;

}

nav ul li a .seconde {
  background-color: #5da5a2;

}

nav ul li a .troisieme {
  background-color: #f8a51e;

}

nav ul li a .quatrieme {
  background-color: #174459;

}

nav ul li a .cinqueime {
  background-color: #c44e45;

}

nav ul li a .sixieme {
  background-color: #78A12C;

}

nav ul li a .septieme {
  background-color: #C51213;

}

/**************************************************
           portrait coordonnées
**************************************************/

.sup{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.conteneur{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  width: 900px;
  height: 500px;
  margin-top: 250px;
  background-color: rgba(0 , 0 , 0, 0.7);
  color: white;
  border-radius: 30px;
}

.presentation{
  width:  300px;
  height: 300px;
  text-align: center;
  border-radius: 30px;
  border: 5px solid white;
  font-size: 22px;
  padding-top: 30px;
}
.portrait{
  width: 300px;
  height: 300px;
  border-radius: 30px;
  background-image: url("./image/moi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid white;
}

/***************************************************
           nav vertical reseau sociaux
*****************************************************/

.social{
  position: fixed;
  left: 0;
  top: 16em;
}
.social li{
  width: 90%;
}

.social ul li a{
  padding: 0.5em;
  display: inline-block;
  color: #fff;
  background-color: #000;
  text-decoration: none;
  -webkit-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease;
}
.social i{
  padding: 0.2em;
}
.social .in{
  background-color: #0077B5;
  width: 100%;
}
.social .facebook{
  background-color: #3B5998;
  width: 100%;
}
.social .twitter{
  background-color: #2AA9DF;
  width: 100%;
}
.social .google{
  background-color: #DC4A38;
  width: 100%;
}
.social .cv{
  background-color: #78A12C;
  width: 100%;
}
/* HOVER */
.social .in:hover, .cv:hover, .facebook:hover,
.twitter:hover, .google:hover{
  background-color: #000;
  width: 150%;
}
/*************************************************
            EXPERIENCES
***************************************************/
.titrehaut{
  width: 400px;
  height: 300px;
  background-image: url("./image/image1.png");
  background-repeat: no-repeat;
  background-size: contain;
}


.experiences{
  width: 100%;
  height: 150em;
  margin-top: 3em;
  margin-bottom: 3em;
  background: url("./image/cartep.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
.pro{
  display: flex;
  justify-content: space-around;
  margin-top: 15em;
  width: 100%;
  height: auto;
}
.panel{
  width: 500px;
  height: 420px;
  border: 15px solid white;
  font-family:"policeCANDLE";
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  background-image: url("./image/papyrus.png");
}

/***************************************************
             FORMATION
****************************************************/

.formation{
  width: 100%;
  height: 70em;
  background-image: url("./image/retro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.titreformation{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.polar{
  width: 250px;
  height: 290px;
  font-family:"policeCANDLE";
  font-size: 50px;
  text-align: center;
  margin-top: 150px;
  border: 15px solid white;
  border-bottom: 50px solid white;
  background-color: black;
  color: white;
}

.etude{
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

.interieur{
  width: 250px;
  height: 290px;
  margin-top: 30px;
  font-family:"policeCANDLE";
  font-size: 26px;
  text-align: center;
  border: 10px solid white;
  border-bottom: 40px solid white;
  background-color: black;
  color: white;
}

.span{
  width: 150px;
  height: 40px;
  border: 1px solid black;
  font-family:"policeCANDLE";
  font-size: 20px;

}

/*******************************************************
           COMPETENCES
********************************************************/

.competences{
  width: 100%;
  height: 40em;
  background-color: #E6E2AF;

}

.entoure{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 200px;

}

.bandetitre{
  width: 30%;
  height: 50px;
}

}
.competences{
  position: static;
  z-index: 100;
}
/******************************************************************
                   skillbar
****************************************************************/
.competences{
  width: 100%;
  height: 60em;
  background-color: #E6E2AF;

}

.compt{
  width:960px;
  margin-top: 300px;
  font-family: 'Ubuntu', sans-serif;
}


.skillbar {
  position:relative;
  display:block;
  margin-bottom: 15px;
  width:100%;
  background:#eee;
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  width:110px;
  font-weight:bold;
  font-size: 15px;
  color:#ffffff;
  background:#6adcfa;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  padding:0 20px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-bar {
  height:35px;
  width:0px;
  background:#6adcfa;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#ffffff;
}
.skillbar2{
  height: 70px;
  line-height: 70px;
  font-size: 40px;
  text-align: center;
}
.skillbar2 p{
  margin-left: 120px;
  color: #fff;
}

/**************************************************************
                         PROJET
***************************************************************/
.projet{
  width: 100%;
  height: 60em;
  background-image: url("./image/papyrus.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.titre{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family:"policeCANDLE";
}
.titrepro{
  margin-top: 150px;
  font-family:"policeCANDLE";
  font-size: 30px;

}
.ecriture{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  text-align: justify;
  font-family:"policeCANDLE";
  font-size: 30px;

}

.signature{
  margin-left: 400px;
}
/************************************************************
                J'AIME
************************************************************/
.jaime{
  width: 100%;
  height: 80em;
  background-color: #E6E2AF;

}
.titrejaime{
  font-family:"policeCANDLE";
  font-size: 30px;
  margin-top: 150px
}
.h1{
  width: 100%;
  height: 150px;
  font-family:"policeCANDLE";
  margin-top: 100px;
}

.titre{
  display: flex;
  justify-content: center;
}

/*********************************************************
                        CONTACT
***********************************************************/
.contact{
  width: 100%;
  height: 100em;
  background-image: url("./image/enveloppe1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.entier{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 70em;
  background-size: contain;
}
.titrecontact{
  display: flex;
  justify-content: center;
  width: 500px;
  height: 200px;
  font-family:"policeCANDLE";
  font-size: 30px;
  background-image: url("./image/enveloppe.jpg");
  line-height: 200px;
  margin-right: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.fond{
  width: 400px;
  height: 1500px;
  margin-left: 300px;
  font-family:"policeCANDLE";
  font-size: 30px;
  transform: rotate(-9deg);
}
